
/* Estilos específicos para cada tabela */
.tabela-nomes {
  border: 5px solid #4285f4;
}


.tabela-usuarios {
  border: 5px solid #34a853;
}



.tabela-cidades {
  border: 5px solid #ea4335;
}

.container-tabela  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}